# Data directories
data/
5. medical-qa-chatbot/MedQuAD/
*/data/
**/data/
9. multi-lingual-chatbot/nllb-200-distilled-600M/


# Dataset files
*.tsv
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3

# Model files and directories
models/
*/models/
**/models/
*.bin
*.pt
*.pth
*.h5
*.hdf5
*.pkl
*.pickle
*.xml

# FAISS index files
*.index
*.faiss